<div class="tools">

  <div class="block">
    <h2>
      PDF 相关
    </h2>
    <ul>
      <li class="img">
        <span (click)="goto('imgtopdf')">
          图片转PDF
        </span>
      </li>
      <li class="img">
        <span (click)="goto('pdftoimg')">
          PDF转图片
        </span>
      </li>
    </ul>
  </div>

  <div class="block">
    <h2>
      编辑
    </h2>
    <ul>
      <li class="split">
        <a href="https://zxl20070701.github.io/toolbox/#/audio-editor" target="_blank">
          音频编辑（拼接、切割）
        </a>
      </li>
    </ul>
  </div>

</div>
